{% extends 'catalog/base.html' %}
{% load filters %}

{% block title %}Контакты{% endblock %}

{% block title_on_page %}{% endblock %}


{% block content %}
    {% for contact in object_list %}
       <p class="d-inline-flex gap-1 mt-4 col-12">
          <button class="btn btn-primary col-12" type="button" data-bs-toggle="collapse" data-bs-target="#{{ contact|get_html_id }}" aria-expanded="false" aria-controls="collapseExample">
            {{ contact.title }}
          </button>
       </p>
        <div class="py-1 collapse" id="{{ contact|get_html_id }}">
          <div class="card card-body col-12">
            {{ contact.description }}
          </div>
        </div>
    {% endfor %}

    <p class="mt-4 text-center">
        Отправьте ваши пожелания через форму обратной связи
    </p>

    <form class="mt-4 shadow p-4" name="feedback_form" action="{% url 'catalog:contacts' %}" method="post">

    {% if messages %}
        <ul style="list-style-type: none;">
            {% for message in messages %}
            <li>
                <p class="py-sm-4 text-bg-success text-center" style="font-size: x-large;">{{ message }}</p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% csrf_token %}
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Ваше имя</label>
        <div class="col-sm-3">
          <input name="name" class="form-control" value="{{ form.name|striptags }}" id="inputEmail3">
          {% if form.name.errors %}
               <p class="p-1 mt-1 text-bg-danger bg-opacity-75 text-center">{{ form.name.errors|striptags }}</p>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText3" class="col-sm-2 col-form-label">Пожелания</label>
        <div class="col-sm-10">
            <textarea class="form-control text-bg-light text" name="description" id="inputText3" style="height: 200px">{{ form.description|striptags }}</textarea>
            {% if form.description.errors %}
               <p class="p-1 mt-1 text-bg-danger bg-opacity-75 text-center">{{ form.description.errors|striptags }}</p>
            {% endif %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-5">Отправить</button>
    </form>

{% endblock content %}
